<div class="container">
  <div class="row col-sm-12">
    <div><button (click)="showMyReservations()">Show my Reservations</button></div>
    <hr>
  </div>

  <table *ngIf="reservations != undefined"class="table table-condensed">
    <th>#</th>
    <th>Username</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>No. Days</th>
  <tr *ngFor= "let reservation of reservations">
    <td>{{reservation.reservation_id}}</td>
    <td>{{ls.uname}}</td>
    <td>{{reservation.start_date | date:'yyyy-MM-dd'}} </td>
    <td>{{reservation.end_date | date:'yyy-MM-dd'}}</td>
    <!-- //this method will not work for months -->
    <td>Days: {{reservation.end_date - reservation.start_date | date:'d'}}</td>
  </tr>
  </table>

</div>