<div class="container">
  <div class="row col-sm-12">
    <form class = "row">
      <div class="input-group">
        <span class="input-group-addon col-sm-4">Arrival Date</span>
        <input type="date"min = "{{today | date:'yyyy-MM-dd'}}" [(ngModel)] = "startDate" class="form-control" id="arrivalDate"/>
      </div>
      <div class="input-group">
        <span class="input-group-addon col-sm-4">Departure Date</span>
        <input type="date" min = "{{tomorrow | date:'yyyy-MM-dd'}}" [(ngModel)] = "endDate" class="form-control" id="departureDate"/>
      </div>
    </form>
    <div class="col-sm-4"><button (click)="submitDates()" type="button" class="btn btn-primary" id="seeAvailableRoomsBtn">See Available Rooms</button></div>
  </div>
  <div *ngIf="message" class="row col-sm-12" id="dateSelectionError">
    <div class="row alert alert-primary">{{message}}</div>
  </div>
</div>
<div *ngIf= "this.rs.madeAReservation">
<div  class = "container">
  <table *ngIf="availableRooms != undefined" class="table table-hover">
    <ng-container >
      <th>Add Room</th>
      <th>#</th>
      <th>Beds</th>
      <th>Price</th>
      <tr *ngFor="let room of availableRooms">
        <td><input (click) = "addOrRemoveRoom(room.room_id, room.number_of_beds)" [id] = "room.room_id" type="checkbox"></td>
        <td>{{room.room_id}}</td>
        <td>{{room.number_of_beds}} beds</td>
        <td>{{room.number_of_beds * dailyCost * daysReserved | currency : 'USD'}}</td>
      </tr>
        <br>
    </ng-container>
  </table>
</div>
<ng-container class="col-sm-12">
  <p *ngIf ="this.ls.uname == undefined" class="col-sm-12">Please Log In</p>
  <app-checkout *ngIf = "selectedRoomIds.length > 0 && this.ls.uname != undefined"></app-checkout>
</ng-container>
</div>