<div class="container">
  <div class="row col-sm-12">
    <div class="col-sm-4"><span>Arrival Date</span><input type="date"min = "{{today | date:'yyyy-MM-dd'}}" [(ngModel)] = "startDate" class="input-group" id="arrivalDate"></div>
    <div class="col-sm-4"><span>Departure Date</span><input type="date" min = "{{tomorrow | date:'yyyy-MM-dd'}}" [(ngModel)] = "endDate" class="input-group" id="departureDate"></div>
    <div class="col-sm-4"><button (click)="submitDates()" type="button" class="btn btn-primary" id="seeAvailableRoomsBtn">See Available Rooms</button></div>
  </div>
  <div *ngIf="message" class="row col-sm-12" id="dateSelectionError">
    <div class="row alert alert-primary">{{message}}</div>
  </div>
</div>
<div *ngIf= "this.rs.madeAReservation">
<div  class = "container">
  <form>
    <ng-container *ngFor="let room of availableRooms">
        <input (click) = "addOrRemoveRoom(room.room_id, room.number_of_beds)" [id] = "room.room_id" type="checkbox"> Room {{room.room_id}}, {{room.number_of_beds}} bed(s), {{room.number_of_beds * dailyCost * daysReserved | currency : 'USD'}}
        <br>
    </ng-container>
  </form>
</div>
<p *ngIf ="this.ls.uname == undefined">Please Log In</p>
<app-checkout *ngIf = "selectedRoomIds.length > 0 && this.ls.uname != undefined" ></app-checkout>
</div>