<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>

		<property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
		<property name="hibernate.connection.url">jdbc:oracle:thin:@pbmd.clojiyi6uxgo.us-east-1.rds.amazonaws.com:1521:ORCL</property>
		<property name="hibernate.connection.username">max_effort</property>
		<property name="hibernate.connection.password">bads1234</property>
		<property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
	    <property name="hibernate.hbm2ddl.auto">create</property>
		<property name="hibernate.show_sql">true</property>

		<mapping class = "model.Reservation"/>
		<mapping class = "model.Customer"/>
		<mapping class = "model.Room"/>
	
	</session-factory>
</hibernate-configuration>