<div style="text-align:right">
  <button id="mainPageResitser" onclick="document.getElementById('id02').style.display='block'" style="width:auto;">Register</button>
</div>
<div id="id02" class="modal">
  <div class="imgcontainer">
    <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>
  </div>
  <div class="container">

<div class ="col-span-8">
    <div class="container">
      <h1>Register</h1>
      <p>Please fill in this form to create an account.</p>
      <hr>
      <label for="name"><b>Name</b></label>
      <input id="first_name" type="text" placeholder="first" [(ngModel)] = "first_name" >
      <input id="last_name" type="text" placeholder="last" [(ngModel)] = "last_name" >

      <label for="email"><b>Email</b></label>
      <input id="email" type="text" placeholder="Enter Email" [(ngModel)] = "email">

      <label for="phone"><b>Phone</b></label>
      <input id="phone" type="text" placeholder="Phone Number" [(ngModel)] = "phone_number" >
      
      <label for="address"><b>Address</b></label>
      <input id="Address" type="text" placeholder="Address" [(ngModel)] = "address" required>

      <label for="username"><b>Username</b></label>
      <input id="rusername" type="text" placeholder="Username" [(ngModel)] = "username" required>

      <label for="psw"><b>Password</b></label>
      <input id="rpassword" type="password" placeholder="Enter Password" [(ngModel)] = "password" >

      <label for="psw-repeat"><b>Repeat Password</b></label>
      <input type="password" placeholder="Repeat Password" [(ngModel)] = "rpsw" >
      <hr>
      <span id="response">{{responseText}}</span>
      <button id="modalRegister" (click)="register()" class="registerbtn">Register</button>
    </div>
    

</div>
</div>
<div class="container" style="background-color:#f1f1f1">
  <button id="registerPageCancel" type="button" onclick="document.getElementById('id02').style.display='none'" class="btn btn-warn">Cancel</button>
</div>

</div>

